{% extends 'main/layout.html' %}

{% block title %}Про нас{% endblock %}
<!-- Директива % block %} используется для определения блоков содержимого в шаблонах, которые могут быть переопределены или расширены в дочерних шаблонах. -->
{% block content %}
	<div class="features">
        <h1>Про нас</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, totam.</p>
        <button class="btn btn-warning">Просто нажми</button> <!--bootstrap подключили стиль кнопки-->
    </div>
{% endblock %}

