{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Главная{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}

{% block content %}
<section class="home-section py-4">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <h1 class="text-center mb-4">Добро пожаловать на наш сайт психологической поддержки</h1>
                <p class="text-center lead">Мы здесь, чтобы помочь вам справиться с жизненными трудностями и улучшить ваше эмоциональное благополучие.</p>

                <img src="{% static 'main/img/PsyHelp.jpg' %}" alt="PsyHelp" style="width: 100%; max-width: 600px; height: auto;">

                <div class="features mt-5">
                    <div class="row">
                        <div class="col-md-4 text-center">
                            <h3>Поиск психологов</h3>
                            <p>Найдите специалиста, который подходит именно вам. Используйте наши фильтры для поиска по специализации, опыту и полу.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h3>Статьи и советы</h3>
                            <p>Читайте полезные статьи от наших психологов. Узнайте больше о психологическом здоровье и методах самопомощи.</p>
                        </div>
                        <div class="col-md-4 text-center">
                            <h3>Тест на эмоциональное благополучие</h3>
                            <p>Пройдите наш тест, чтобы оценить свое эмоциональное состояние и получить рекомендации по его улучшению.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
